
.divCard {
    width: 350px;
    height: 400px;
    max-width: 80vw;
    max-height: 80vw;
    background-color: #EF626C;
    border: 6px solid #1C3144;
    border-radius: 25px;
    margin: 2vmin;
    padding-top: 2vmin;
    transition: 150ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.divCard:hover {
    cursor: pointer;
    box-shadow: 1vmin 1vmin #6daedb;
}

.divCard  img {
    width: 100%;
    margin-bottom: 3vmin;
}

.divCard h2, .divCard h5, .divCard p, .divCard h4 {
    font-weight: bolder;
    color: #1C3144;
    text-transform: uppercase;
}

.divCard  p {
    width: 100%;
}