
.divFooter {
    padding: 8vmin;
    padding-top: 40vh;
    padding-bottom: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.divFooter h2 {
    text-align: start;
    font-weight: 400;
}

.divFooter p strong {
    color: #405DE6;
}