
.divProjects {
    width: 100%;
    padding: 0 8vmin;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.divProjects h2 {
    text-align: start;
    margin: 0;
    font-weight: 400;
}

.divCards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -2vmin;
}